
/* variables */
:root{
  --primary: #FFC636;
  --secondary: #0A0B5B;
}

/* reset */
body,p,a,ul,li{
  margin: 0;
  padding: 0;
  text-decoration: none;
}
li{
  list-style-type: none;
}

/* base styles */
body{
  background: var(--secondary);
  overflow-x: hidden;
}
.button{
  background: none;
  border: 2px solid var(--primary);
  color: var(--primary);
  padding: 6px 12px;
  border-radius: 10px;
  text-transform: uppercase;
  box-shadow: 1px 2px 3px rgba(0,0,0,0.6);
  display: inline-block;
  font-size: 1em;
  margin-left: 5px;
}
.button:hover{
  color: #222;
  background: var(--primary);
}
input{
  background: rgba(255,255,255,0.05);
  padding: 10px 16px;
  border-radius: 10px;
  border: 2px solid #9893D8;
  color: #f2f2f2;
  font-size: 1em;
}

.error{
  color: rgb(187, 30, 30);
  text-align: left;
  margin-left: 2px;
}

/* fonts */
body{
  color: #f2f2f2;
}

/* mobile styles */
.App{
  margin: 5%;
}
.form{
  text-align: center;
}
.grid{
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 10px;
  box-sizing: border-box;
}
.todos{
  margin-top: 20px;
}
.todos li{
  margin-top: 10px;
  background-color: #6767ab;
  padding: 3%;
  box-shadow: 1px 2px 3px honeydew;
  cursor: pointer;
}
.content{
  grid-column: 1/8;
}
.todo-action{
  display: flex;
  font-size: 1.5em
}
/* small tablet styles */
@media screen and (min-width: 620px){
  input{
    width: 300px;
  }
  .todos li{
    margin: 10px 20%;
    padding: 2%;
  }
}

/* large tablet & laptop styles */
@media screen and (min-width: 960px){
  .todos li{
    margin: 10px 25%;
  }
}

@media screen and (min-width: 1200px){
  .todos li{
    margin: 10px 33%;
    padding: 1%;
  }
}